<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Weather" description="Feature Weather" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(weatherSourceFolder)\feature\Weather\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Feature.Weather.FieldTypes" database="core" path="/sitecore/system/Field types/Weather" />
            <include name="Feature.Weather.Settings" database="master" path="/sitecore/system/settings/Feature/Weather" />
            <include name="Feature.Weather.Templates" database="master" path="/sitecore/templates/Feature/Weather" />
            <include name="Feature.Weather.Renderings" database="master" path="/sitecore/layout/renderings/Feature/Weather" />
            <include name="Feature.Weather.Media" database="master" path="/sitecore/media library/Feature/Weather" />
            <include name="Feature.Weather.Rules" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Weather" />
            <include name="Feature.Weather.Tags" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/Weather" />
            <include name="Feature.Weather.Test.Content" database="master" path="/sitecore/content/Habitat/Home/Modules/Feature/Weather" />
            <include name="Feature.Weather.Datasource" database="master" path="/sitecore/content/Habitat/Global/Weather" />
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(weatherSourceFolder)\feature\weather\serialization\Feature.Weather.Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="modules" pattern="^Feature Weather .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
