<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <scheduling>
      <agent patch:before="*[@type='Sitecore.Tasks.DatabaseAgent']" type="Sitecore.Feature.Weather.Scheduler.Agent.WeatherBasedNotifier" method="Run" interval="00:0:02">
      </agent>
      <agent patch:before="*[@type='Sitecore.Tasks.DatabaseAgent']" type="Sitecore.Feature.Weather.Scheduler.Agent.WeatherForecast" method="Run" interval="00:00:02">
      </agent>
    </scheduling>
  </sitecore>
</configuration>
